
footer 
{
    background: linear-gradient(135deg,#0b1220 0%,#0f1b33 50%,#0b1220 100%);
    color:rgb(255, 243, 243);
    padding:0.5em;
    font-family:"fuente1";
    text-align:center;
    font-size:1.5em;
}

footer h1
{
    transition:0.5s;
}

footer h1:hover
{
    color:grey;
}


@media (max-width: 850px)
{
    footer
    {
        font-size:20px;
    }
}