.titulo-main
{
    font-family:"fuente1";
    text-align:center;
    background: linear-gradient(90deg, #60a5fa, #38bdf8);
    /*efecto para hacer un degradado en un texto, omitiendo el background*/
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin:5px;
    text-shadow:1px 2px 2px rgb(36, 88, 230);
    letter-spacing:5px;
    font-size:50px;

}
.contenedor {
  display: flex;
  align-items: center;
  gap: 20px;
}

.imagen {
  width: 150px;
  height: auto;
}
.img {
  display: flex;
  align-items: center;
  gap: 16px;
  width:300px;
  height: 750px;
}



